<!-- component -->
<!--<nav href="#"
     class="  flex flex-wrap item justify-between w-full px-4 py-5 tracking-wide bg-white shadow-md bg-white bg-opacity-90 md:py-8 md:px-8 lg:px-14">
  &lt;!&ndash; Left nav &ndash;&gt;
  <div class="flex items-center">
    <a href="#" class="text-3xl tracking-wide">
      Navbar
    </a>
  </div>
  &lt;!&ndash; End left nav &ndash;&gt;

  &lt;!&ndash; Right nav &ndash;&gt;
  &lt;!&ndash; Show menu sm,md &ndash;&gt;
  &lt;!&ndash; Toggle button &ndash;&gt;
  <div
    x-data="{open : false}"
    class="block text-gray-600 cursor-pointer lg:hidden">
    <button  class="w-6 h-6 text-lg">
      <svg x-show="! open" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"
           :class="{'transition-full each-in-out transform duration-500':! open}">
        <rect width="48" height="48" fill="white" fill-opacity="0.01"></rect>
        <path d="M7.94977 11.9498H39.9498" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M7.94977 23.9498H39.9498" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M7.94977 35.9498H39.9498" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>

      <svg x-show="open" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
        <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
  </div>
  &lt;!&ndash; End toggle button &ndash;&gt;

  &lt;!&ndash; Toggle menu &ndash;&gt;
  <div x-ref="tab"
       :style="handleToggle()"
       class="relative w-full overflow-hidden transition-all duration-700 lg:hidden max-h-0">
    <div class="flex flex-col my-3 space-y-2 text-lg hover:font-b text-gray-600">
      <a routerLink="/beneficaire" class="hover:text-gray-900"><span>Beneficaire</span></a>
      <hr>
      <a class="hover:text-gray-900"><span>Virement</span></a>
      <hr>
    </div>
    <div class="py-6 px-5 space-y-6">
      <div class="grid grid-cols-2 gap-y-4 gap-x-8">
        <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">
          About
        </a>

        <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">
          Contact
        </a>
      </div>
    </div>
    <div>
      <a href="#" class="w-full flex items-center justify-center text-white px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-gray-600 hover:bg-gray-700">
        Sign up
      </a>
      <p class="mt-6 text-center text-base font-medium text-gray-500">
        Existing customer?
        <a href="#" class="text-gray-600 hover:text-gray-900">
          Sign in
        </a>
      </p>
    </div>
  </div>
  &lt;!&ndash; End toggle menu &ndash;&gt;
  &lt;!&ndash; End show menu sm,md &ndash;&gt;

  &lt;!&ndash; Show Menu lg &ndash;&gt;
  <div class="hidden w-full lg:flex lg:items-center lg:w-auto">
    <div class="items-center flex-1 pt-6 justify-center text-lg text-gray-500 lg:pt-0 list-reset lg:flex">
      <div class="mr-3">
        <a routerLink="/beneficaire"
           class="inline-block px-4 py-2 no-underline hover:text-gray-900 text-gray-600">
          Beneficaire
        </a>
      </div>

      <div class="mr-3">
        <a
           class="inline-block px-4 py-2 no-underline hover:text-gray-900 text-gray-600">
          Virement
        </a>
      </div>

      &lt;!&ndash; Dropdown 1 &ndash;&gt;
      <div x-data="{ open: false }"
           class="relative inline-block"
           :class="{'text-gray-900': open, 'text-gray-600': !open }">
        &lt;!&ndash; Dropdown Toggle Button &ndash;&gt;
        <button  class="flex items-center p-2 rounded-md">
          <span class="mr-4">Hover Dropdown</span>
          <span :class="open = ! open ? '': '-rotate-180'"
                class="transition-transform duration-500 transform">
                                <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                                </svg>
                            </span>
        </button>
        &lt;!&ndash; End Dropdown Toggle Button &ndash;&gt;

        &lt;!&ndash; Dropdown Menu &ndash;&gt;

        &lt;!&ndash; End Dropdown Menu &ndash;&gt;
      </div>
      &lt;!&ndash; End Dropdown 1 &ndash;&gt;
    </div>
  </div>
  <div class="hidden w-full lg:flex lg:items-center lg:w-auto">
    <div class="items-center flex-1 pt-6 justify-center text-lg text-gray-500 lg:pt-0 list-reset lg:flex">
      <a href="#" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
        Sign in
      </a>
      <a href="#" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-gray-600 hover:bg-gray-700">
        Sign up
      </a>
    </div>
  </div>
  &lt;!&ndash; End show Menu lg &ndash;&gt;
  &lt;!&ndash; End right nav &ndash;&gt;
</nav>-->
<header class=" inset-x-0 top-0 z-50 py-6" >
  <div class="mx-auto lg:max-w-7xl w-full px-5 sm:px-10 md:px-12 lg:px-5">
    <nav class="w-full flex justify-between gap-6 relative">
      <!-- logo -->
      <div class="min-w-max inline-flex relative">
        <a href="/" class="relative flex items-center gap-3">
          <div class="relative w-7 h-7 overflow-hidden flex rounded-xl">
            <span class="absolute w-4 h-4 -top-1 -right-1 bg-green-500 rounded-md rotate-45"></span>
            <span class="absolute w-4 h-4 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"></span>
            <span class="absolute w-4 h-4 -bottom-1 -left-1 bg-blue-600 rounded-md rotate-45"></span>
            <span
              class="absolute w-2 h-2 rounded-full bg-gray-900 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></span>
          </div>
          <div class="inline-flex text-lg font-semibold text-gray-900">
            Adria
          </div>
        </a>
      </div>

      <div data-nav-overlay aria-hidden="true"
           class="fixed hidden inset-0 lg:!hidden bg-gray-800/60 bg-opacity-50 backdrop-filter backdrop-blur-xl">
      </div>
      <div data-navbar
           class="flex invisible opacity-0  translate-y-10 overflow-hidden lg:visible lg:opacity-100  lg:-translate-y-0 lg:scale-y-100 duration-300 ease-linear flex-col gap-y-6 gap-x-4 lg:flex-row w-full lg:justify-between lg:items-center absolute lg:relative top-full lg:top-0 bg-white lg:!bg-transparent border-x border-x-gray-100 lg:border-x-0">
        <ul
          class="border-t border-gray-100  lg:border-t-0 px-6 lg:px-0 pt-6 lg:pt-0 flex flex-col lg:flex-row gap-y-4 gap-x-3 text-lg text-gray-700 w-full lg:justify-center lg:items-center">
          <li>
            <a  routerLink="/beneficaire"  class="duration-300 font-medium ease-linear hover:text-blue-600 py-3">
              Beneficaire
            </a>
          </li>
          <li>
            <a href="#" class="duration-300 font-medium ease-linear hover:text-blue-600 py-3">
              Virements
            </a>
          </li>

        </ul>

        <div
          class="lg:min-w-max flex items-center sm:w-max w-full pb-6 lg:pb-0 border-b border-gray-100   lg:border-0 px-6 lg:px-0">
          <a href="#"
             class="flex justify-center items-center w-full sm:w-max px-6 h-12 rounded-full outline-none relative overflow-hidden border duration-300 ease-linear
                    after:absolute after:inset-x-0 after:aspect-square after:scale-0 after:opacity-70 after:origin-center after:duration-300 after:ease-linear after:rounded-full after:top-0 after:left-0 after:bg-[#172554] hover:after:opacity-100 hover:after:scale-[2.5] bg-blue-600 border-transparent hover:border-[#172554]">
                        <span class="relative z-10 text-white">
                            Get Started
                        </span>
          </a>
        </div>
      </div>


      <div class="min-w-max flex items-center gap-x-3">

        <button data-toggle-navbar data-is-open="false"
                class="lg:hidden lg:invisible outline-none w-7 h-auto flex flex-col relative">
                    <span id="line-1"
                          class="w-6 h-0.5 rounded-full bg-gray-700 transition-all duration-300 ease-linear"></span>
          <span id="line-2"
                class="w-6 origin-center  mt-1 h-0.5 rounded-ful bg-gray-700 transition-all duration-300 ease-linear"></span>
          <span id="line-3"
                class="w-6 mt-1 h-0.5 rounded-ful bg-gray-700 transition-all duration-300 ease-linear"></span>
          <span class="sr-only">togglenav</span>
        </button>
      </div>
    </nav>
  </div>
</header>

<!-- component -->


<router-outlet>

</router-outlet>
