

<div class="relative overflow-x-auto shadow-md sm:rounded-lg my-8 ml-12 mr-12" >
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" *ngIf="beneficaires">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        ID
      </th>
      <th scope="col" class="px-6 py-3">
        Nom
      </th>
      <th scope="col" class="px-6 py-3">
        Prenom
      </th>
      <th scope="col" class="px-6 py-3">
        Rib
      </th>
      <th scope="col" class="px-6 py-3">
        Type
      </th>

      <th scope="col" class="px-6 py-3">
       Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" *ngFor="let b of beneficaires._embedded.beneficaires">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{b.id}}
      </th>

      <td class="px-6 py-4">
        {{b.nom}}
      </td>
      <td class="px-6 py-4">
        {{b.prenom}}
      </td>
      <td class="px-6 py-4">
        {{b.rib}}
      </td>
      <td class="px-6 py-4">
        {{b.type}}
      </td>
      <td class="px-6 py-4 text-right flex justify-between" >
        <a style="cursor:pointer;" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Update</a>
        <a style="cursor:pointer;" class="font-medium text-red-600 dark:text-red-500 hover:underline" (click)="deletBenif(b.id)">Delete</a>
        <a style="cursor:pointer;" class="font-medium text-blue-500 dark:text-blue-500 hover:underline" routerLink="/addBenif" >Add</a>

      </td>

    </tr>

    </tbody>
  </table>
</div>
